In [1]:
# core
import sys

# custom
sys.path.append('../code')
import dl_quandl_EOD as dlq
import calculate_ta_signals as cts

sys.path.append('/home/nate/github/scrape_stocks/')

In [2]:
import scrape_finra_shorts as sfs

/usr/local/lib/python3.5/dist-packages/odo/backends/pandas.py:94: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access NaTType as type(pandas.NaT)
  @convert.register((pd.Timestamp, pd.Timedelta), (pd.tslib.NaTType, type(None)))

In [3]:
dfs = dlq.load_stocks(stocks=['NAVI', 'EXAS'])

In [4]:
dfs.keys()

dict_keys(['NAVI', 'EXAS'])

In [5]:
dfs['EXAS'].shape

(4158, 13)

In [6]:
dfs['EXAS'].tail()

,Ticker,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,,
2017-08-07,EXAS,38.84,39.80,38.441,39.20,1006956.0,0.0,1.0,38.84,39.80,38.441,39.20,1006956.0
2017-08-08,EXAS,39.34,39.44,38.220,38.26,919550.0,0.0,1.0,39.34,39.44,38.220,38.26,919550.0
2017-08-09,EXAS,37.81,38.54,36.910,37.25,1610908.0,0.0,1.0,37.81,38.54,36.910,37.25,1610908.0
2017-08-10,EXAS,37.18,37.86,36.910,37.05,1276770.0,0.0,1.0,37.18,37.86,36.910,37.05,1276770.0
2017-08-11,EXAS,36.94,37.97,36.100,37.76,1183339.0,0.0,1.0,36.94,37.97,36.100,37.76,1183339.0

In [7]:
dfs['EXAS']['typical_price'] = dfs['EXAS'][['High', 'Low', 'Close']].mean(axis=1)

In [8]:
cts.create_tas(dfs['EXAS'])

In [9]:
dfs['EXAS'].shape

(4158, 140)

In [10]:
dfs['EXAS'].head()

,Ticker,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,...,ht_ph_cl,ht_ph_tp,ht_q_cl,ht_q_tp,ht_s_cl,ht_s_tp,ht_ls_cl,ht_ls_tp,ht_tr_cl,ht_tr_tp
Date,,,,,,,,,,,,,,,,,,,,,
2001-02-01,EXAS,14.38,15.38,14.25,15.00,497600.0,0.0,1.0,14.38,15.38,...,-0.351479,-0.374648,0.539147,0.536564,0.220636,0.323114,-0.533668,-0.440701,0,0
2001-02-02,EXAS,15.31,15.31,14.25,14.38,336900.0,0.0,1.0,15.31,15.31,...,-0.351479,-0.374648,0.539147,0.536564,0.220636,0.323114,-0.533668,-0.440701,0,0
2001-02-05,EXAS,14.50,14.50,13.88,14.06,91400.0,0.0,1.0,14.50,14.50,...,-0.351479,-0.374648,0.539147,0.536564,0.220636,0.323114,-0.533668,-0.440701,0,0
2001-02-06,EXAS,14.00,14.38,13.94,14.00,245400.0,0.0,1.0,14.00,14.38,...,-0.351479,-0.374648,0.539147,0.536564,0.220636,0.323114,-0.533668,-0.440701,0,0
2001-02-07,EXAS,14.00,14.06,14.00,14.00,205300.0,0.0,1.0,14.00,14.06,...,-0.351479,-0.374648,0.539147,0.536564,0.220636,0.323114,-0.533668,-0.440701,0,0

In [11]:
finra_shorts = sfs.load_all_data()

100%|██████████| 1011/1011 [00:05<00:00, 201.76it/s]

In [12]:
finra_shorts.shape

(4059968, 6)

In [13]:
finra_shorts.head()

        Date Symbol  ShortVolume  ShortExemptVolume  TotalVolume Market
0 2016-11-30      A     202347.0              200.0     541995.0      Q
1 2016-11-30     AA     779104.0             2323.0    1760992.0      Q
2 2016-11-30   AAAP      17172.0                0.0      34515.0      Q
3 2016-11-30    AAC      37786.0             3700.0      64028.0      Q
4 2016-11-30   AADR        977.0                0.0       1430.0      Q

In [14]:
fs_df = finra_shorts[finra_shorts['Symbol'] == 'EXAS']

In [15]:
fs_df.shape

(516, 6)

In [16]:
import pandas as pd

In [17]:
fs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 516 entries, 2354 to 1806
Data columns (total 6 columns):
Date                 516 non-null datetime64[ns]
Symbol               516 non-null object
ShortVolume          516 non-null float64
ShortExemptVolume    516 non-null float64
TotalVolume          516 non-null float64
Market               516 non-null object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 28.2+ KB

In [18]:
fs_df = fs_df.groupby('Date').sum()

In [19]:
fs_df.shape

(258, 3)

In [20]:
fs_df.index

DatetimeIndex(['2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
               '2016-11-07', '2016-11-08', '2016-11-09', '2016-11-10',
               '2016-11-11', '2016-11-14',
               ...
               '2017-10-26', '2017-10-27', '2017-10-30', '2017-10-31',
               '2017-11-01', '2017-11-02', '2017-11-03', '2017-11-06',
               '2017-11-07', '2017-11-08'],
              dtype='datetime64[ns]', name='Date', length=258, freq=None)

In [21]:
# don't have the latest data in the historical yet
dfs['EXAS'].loc[dfs['EXAS'].index.isin(fs_df.index)].shape

(196, 140)